body {
    padding: 50px;
    font: 18px Ubuntu, "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: #d3d3d3;
}

.rooms {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.room {
    vertical-align: top;
    text-align: center;
    cursor: pointer;
    padding: 10px;
}

.room-label {
    display: block;
}

.room-icon {
    width: 90px;
    height: 90px;
    display: block;
    margin-bottom: 3px;
}